{% extends "base.html" %}

{% block title %}Excluir Filme{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-danger">Excluir Filme</h2>

    <p>Tem certeza que deseja excluir o filme <strong>{{ object.titulo }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        <a href="{% url 'filme_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
